cluster.name: {{ cluster_name }}

node.name: {{ node_name }}
{% if elasticsearch_role == "master" %}
node.roles: [ master, data ]
{% else %}
node.roles: [ data ]
{% endif %}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ ansible_host }}
http.port: 9200
#transport.port: 9300

discovery.seed_hosts: {{ discovery_seed_hosts | to_json }}
cluster.initial_master_nodes: {{ initial_master_nodes | to_json }}

xpack.security.enabled: false
xpack.security.enrollment.enabled: false
#xpack.security.http.ssl:
#  enabled: true
#  keystore.path: certs/http.p12
#xpack.security.transport.ssl:
#  enabled: true
#  verification_mode: certificate
#  keystore.path: certs/transport.p12
#  truststore.path: certs/transport.p12

http.host: 0.0.0.0
