cluster.name: {{ cluster_name }}
node.name: {{ inventory_hostname }}
{% if es_role == "master" %}
node.roles: [ master ]
{% elif es_role == "data" %}
node.roles: [ data ]
{% endif %}
network.host: 0.0.0.0
http.port: 9200
discovery.seed_hosts: [ {{ discovery_seed_hosts | join(', ') }} ]
cluster.initial_master_nodes: [ {{ initial_master_nodes }} ]
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
